
              
              <h1 class="grey">Dashboard</h1>
              <hr>

              <!-- ***************************************************************************************** -->
              <div class="row center">
                <div class="card">
                  <div class="panel panel-primary blue_border">
                    <div class="panel-heading no_top_bottom_padding blue_border blue_bg">
                      <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6"><span class="glyphicon glyphicon-file glypicon_big_size"></span></div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                          <h1 class="text-right">280</h1>
                          <h4 class="text-right">Articles</h4>
                        </div>
                      </div>
                    </div>
                    <div class="panel-body no_padding">
                      <a class="blue some_padding see_all_btn text-left" href="">All Articles <span class="glyphicon glyphicon-arrow-right pull-right"></span></a>
                    </div>
                    <ul class="list-group text-left">
                      <li class="list-group-item blue">
                        <span><span class="badge blue_bg">110</span> <span class="glyphicon glyphicon-comment"></span></span>
                        <span class="pull-right"> <span class="glyphicon glyphicon-thumbs-up"></span> <span class="badge blue_bg">200</span> </span>
                      </li>
                    </ul>
                  </div>
                </div>    
                <div class="card">
                  <div class="panel panel-primary green_border">
                    <div class="panel-heading no_top_bottom_padding green_border green_bg">
                      <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6"><span class="glyphicon glyphicon-book glypicon_big_size"></span></div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                          <h1 class="text-right">101</h1>
                          <h4 class="text-right">Ebooks</h4>
                        </div>
                      </div>
                    </div>
                    <div class="panel-body no_padding">
                      <a class="green some_padding see_all_btn text-left" href="">All Ebooks <span class="glyphicon glyphicon-arrow-right pull-right"></span></a>
                    </div>
                    <ul class="list-group text-left">
                      <li class="list-group-item green">
                        <span><span class="badge green_bg">25</span> <span class="glyphicon glyphicon-comment"></span></span>
                        <span class="pull-right"> <span class="glyphicon glyphicon-thumbs-up"></span> <span class="badge green_bg">150</span> </span>
                      </li>
                    </ul>
                  </div>
                </div>    
                <div class="card">
                  <div class="panel panel-primary orange_border">
                    <div class="panel-heading no_top_bottom_padding orange_border orange_bg">
                      <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6"><span class="glyphicon glyphicon-facetime-video glypicon_big_size"></span></div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                          <h1 class="text-right">70</h1>
                          <h4 class="text-right">Videos</h4>
                        </div>
                      </div>
                    </div>
                    <div class="panel-body no_padding">
                      <a class="orange some_padding see_all_btn text-left" href="">All Videos <span class="glyphicon glyphicon-arrow-right pull-right"></span></a>
                    </div>
                    <ul class="list-group text-left">
                      <li class="list-group-item orange">
                        <span> <span class="badge orange_bg">30</span> <span class="glyphicon glyphicon-comment"></span> </span>
                        <span class="pull-right"> <span class="glyphicon glyphicon-thumbs-up"></span> <span class="badge orange_bg">190</span></span>
                      </li>
                    </ul>
                  </div>
                </div>    
                <div class="card">
                  <div class="panel panel-primary red_border">
                    <div class="panel-heading no_top_bottom_padding red_border red_bg">
                      <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6"><span class="glyphicon glyphicon-list-alt glypicon_big_size"></span></div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                          <h1 class="text-right">200</h1>
                          <h4 class="text-right">Practice</h4>
                        </div>
                      </div>
                    </div>
                    <div class="panel-body no_padding">
                      <a class="red some_padding see_all_btn text-left" href="">All Practice <span class="glyphicon glyphicon-arrow-right red pull-right"></span></a>
                    </div>
                    <ul class="list-group text-left">
                      <li class="list-group-item red">
                        <span> <span class="badge red_bg">60</span> <span class="glyphicon glyphicon-comment"></span> </span>
                        <span class="pull-right"> <span class="glyphicon glyphicon-thumbs-up"></span> <span class="badge red_bg">250</span></span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card">
                  <div class="panel panel-primary purple_border">
                    <div class="panel-heading no_top_bottom_padding purple_border purple_bg">
                      <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6"><span class="glyphicon glyphicon-globe glypicon_big_size"></span></div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                          <h1 class="text-right">110</h1>
                          <h4 class="text-right">Webinars</h4>
                        </div>
                      </div>
                    </div>
                    <div class="panel-body no_padding">
                      <a class="purple some_padding see_all_btn text-left" href="">All Webinars <span class="glyphicon glyphicon-arrow-right purple pull-right"></span></a>
                    </div>
                    <ul class="list-group text-left">
                      <li class="list-group-item purple">
                        <span> <span class="badge purple_bg">20</span> <span class="glyphicon glyphicon-comment"></span> </span>
                        <span class="pull-right"> <span class="glyphicon glyphicon-thumbs-up"></span> <span class="badge purple_bg">220</span></span>
                      </li>
                    </ul>
                  </div>
                </div>   
              </div>
              <!-- **************************************************************************************** -->
              <div class="row">
                <div class="col-md-8">
                  <h3>Progress Graph</h3>
                  <ul class="nav nav-tabs" id="btn_graph">
                    <li class="active"><a data-toggle="tab" href="#menu_1">Articles</a></li>
                    <li ><a data-toggle="tab" href="#menu_2">Ebooks</a></li>
                    <li><a data-toggle="tab" href="#menu_3">Videos</a></li>
                    <li><a data-toggle="tab" href="#menu_4">TestPapers</a></li>
                    <li><a data-toggle="tab" href="#menu_5">Webinars</a></li>
                  </ul>

                  <div class="tab-content">
                    <div id="menu_1" class="tab-pane fade in active">
                      <h3>Articles</h3>
                      <div>
                        <canvas id="canvas1" height="450" width="600"></canvas>
                      </div>
                    </div>
                    <div id="menu_2" class="tab-pane fade">
                      <h3>Ebooks</h3>
                      <div>
                        <canvas id="canvas2" height="450" width="600"></canvas>
                      </div>
                    </div>
                    <div id="menu_3" class="tab-pane fade">
                      <h3>Videos</h3>
                      <div>
                        <canvas id="canvas3" height="450" width="600"></canvas>
                      </div>
                    </div>
                    <div id="menu_4" class="tab-pane fade">
                      <h3>TestPapers</h3>
                      <div>
                        <canvas id="canvas4" height="450" width="600"></canvas>
                      </div>
                    </div>
                    <div id="menu_5" class="tab-pane fade">
                      <h3>Webinars</h3>
                      <div>
                        <canvas id="canvas5" height="450" width="600"></canvas>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- **************************************************************************************** -->
                <div class="col-md-4">
                  <h3>Notifications</h3>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Latest Comments</h3>
                    </div>
                    <div class="panel-body no_padding no_margin">
                      <ul class="list-group no_margin">
                        <li class="list-group-item no_rounded_border">
                          <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 comment_img">
                              <div class="div_circle">
                                <img src="img/girl.jpg" alt="image" class="">
                              </div>
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10">
                              <h5><b>Dummy Name</b> <span class="pull-right"><span class="glyphicon glyphicon-time "></span> 10 mins ago</span></h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.</p>
                              <span class="pull-right"><a href="">View Details <span class="glyphicon glyphicon-arrow-right"></span></a></span>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item no_rounded_border">
                          <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 comment_img">
                              <div class="div_circle">
                                <img src="img/girl.jpg" alt="image" class="">
                              </div>
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10">
                              <h5><b>Dummy Name</b> <span class="pull-right"><span class="glyphicon glyphicon-time "></span> 25 mins ago</span></h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.</p>
                              <span class="pull-right"><a href="">View Details <span class="glyphicon glyphicon-arrow-right"></span></a></span>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item no_rounded_border">
                          <p class="text-center no_padding no_margin"><a href="">See All Comments..</a></p>
                        </li>
                      </ul>
                    </div>


                    <div class="panel-heading">
                      <h3 class="panel-title">Newly Added</h3>
                    </div>
                    <div class="panel-body no_padding no_margin">
                      <ul class="list-group no_margin">
                        <li class="list-group-item no_rounded_border">
                          <div class="row">
                            <div class="col-md-12">
                              <h5><b>BDH</b> <span class="pull-right"><span class="glyphicon glyphicon-time "></span> 5 mins ago</span></h5>
                              <p>Lorem ipsum dolor sit amet.</p>
                              <span class="pull-right"><a href="">View Details <span class="glyphicon glyphicon-arrow-right"></span></a></span>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item no_rounded_border">
                          <div class="row">
                            <div class="col-md-12">
                              <h5><b>Spark</b> <span class="pull-right"><span class="glyphicon glyphicon-time "></span> 8 mins ago</span></h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                              <span class="pull-right"><a href="">View Details <span class="glyphicon glyphicon-arrow-right"></span></a></span>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item no_rounded_border">
                          <p class="text-center no_padding no_margin"><a href="">See All Topics..</a></p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>



<script>
var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
var lineChartData = {
  labels : ["Article 1","Article 2","Article 3","Article 4","Article 5","Article 6","Article 7"],
  datasets : [
          /*{
            label: "My First dataset",
            fillColor : "rgba(220,220,220,0.2)",
            strokeColor : "rgba(220,220,220,1)",
            pointColor : "rgba(220,220,220,1)",
            pointStrokeColor : "#fff",
            pointHighlightFill : "#fff",
            pointHighlightStroke : "rgba(220,220,220,1)",
            data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
          },*/
          {
            label: "My Second dataset",
            fillColor : "rgba(151,187,205,0.2)",
            strokeColor : "rgba(151,187,205,1)",
            pointColor : "rgba(151,187,205,1)",
            pointStrokeColor : "#fff",
            pointHighlightFill : "#fff",
            pointHighlightStroke : "rgba(151,187,205,1)",
            data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
          }
          ]

        }

        window.onload = function(){
          var ctx = document.getElementById("canvas1").getContext("2d");
          window.myLine = new Chart(ctx).Line(lineChartData, {
            responsive: true
          });
        }

        $(document).on( 'shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
          console.log(e.target) // activated tab
          var id=e.target.getAttribute('href').split('_')[1];
          var ctx = document.getElementById("canvas"+id).getContext("2d");
          window.myLine = new Chart(ctx).Line(lineChartData, {
            responsive: true
          });
        })



        </script>